body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f9f9f9;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 1rem 1rem 1rem;
  flex-wrap: wrap;
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  margin: 1rem 0;
  text-align: center;
}

.header img {
  width: 70px;
  height: auto;
}

.outer-wrapper {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 1rem;
}

.app-container {
  padding: 1rem;
  background-color: #ffffff;
  border: 1px solid #FFA0C1;
  margin-bottom: 1rem;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.7);
}

.message-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 4rem;
 }
 
 .message-card {
   width: 100%;
   padding: 1rem;
   box-sizing: border-box;
   background: white;
   border: 1px solid #FFA0C1;
   word-break: break-word;
   box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.7);
 }

.message-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}

.message-form textarea {
  resize: none;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.message-form textarea::placeholder {
  color: #bbbbbb;
}

.message-form button {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #FFA0C1;
  border: none;
  border-radius: 8px;
  color: #1e1e1e;
  cursor: pointer;
  transition: background 0.3s ease;
}


/* Message card */
.message-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.message-card {
  width: 500px;
  background: white;
  padding: 2rem;
  text-align: left;
  border: 1px solid rgb(219, 103, 219);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.7);
}

.container-width {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffffff;
  border: 1px solid rgb(219, 103, 219);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.7);
}

.message-container {
  margin: 0 auto;
  max-width: 600px;
}

.message-section {
  margin-top: 3rem;
}

.message-card small {
  display: block;
  margin-top: 0.5rem;
  color: #666;
}

/* Message when user hits 10 messages */
.hit-3 {
  font-weight: bold;
  color: #ff4b7d;
}

/* Responsive design */
@media (min-width: 400px) {
  .header img {
    width: 80px;
  }
}

@media (max-width: 600px) {
  .app-container {
    padding: 1rem;
  }

  .message-form textarea {
    font-size: 0.9rem;
  }
}

@media (min-width: 1600px) {
  .app-container {
    max-width: 800px;
  }
}