:root {
  font-family: "Inter", system-ui, "Avenir", Helvetica, Arial, sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  min-height: 100vh;
}
.message-item {
  animation: fadeIn 0.5s ease-in-out;
  transform: scale(1);
  transition: transform 0.5s ease-in-out; /
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.message-item:hover {
  transform: scale(1.08);

}
